<!doctype html>
<html>


<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/404_page.css' %}">
    </head>

<body>



<div class="box">
  <div class="box__ghost">
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>

    <div class="box__ghost-container">
      <div class="box__ghost-eyes">
        <div class="box__eye-left"></div>
        <div class="box__eye-right"></div>
      </div>
      <div class="box__ghost-bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="box__ghost-shadow"></div>
  </div>

  <div class="box__description">
    <div class="box__description-container">
      <div class="box__description-title">Whoops!</div>
      <div class="box__description-text">Здається, щось пішло не так</div>
    </div>

    <a href="/" target="_blank" class="box__button">На головну</a>

  </div>

</div>
</body>
</html>