<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fonts/fontawesome-all.min.css' %}"></script>
    <script src="{% static 'css/Navigation-Clean.css' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</head>


<body id="page-top">
    <div id="wrapper" style="display: flex">
        <div class="d-flex flex-column" id="content-wrapper" >
            <div id="content">
                {% include 'nav.html' %}
                <div class="container-fluid ">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-dark mb-0">
                            {% block header %}{% endblock %}</h2>
                    </div>
                </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>


</html>