{% extends 'base.html' %}
{% block title %}Статистика тривог{% endblock %}
{% block header %}Статистика тривог{% endblock %}

{% block content %}


  <div  id="container" style="width: 75%; margin-left: auto;  margin-right: auto;">

    <canvas id="bar-chart"></canvas>

      </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'horizontalBar',

      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: '#858796',
          label: 'Області країни'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('bar-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>



{% endblock %}