{% load static %}
<script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fonts/fontawesome-all.min.css' %}"></script>
    <script src="{% static 'css/Navigation-Clean.css' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
<div class="container">
<div class="container text-center" style="padding-top:10px">

<div class="btn-group " role="group" aria-label="Basic example">

    <a class="btn btn-secondary" href="{% url 'all_statistic' %}" role="button">За весь час</a>
    <a class="btn btn-secondary" href="{% url 'week_statistic' %}" role="button">За останні 7 днів</a>
    <a class="btn btn-secondary" href="{% url 'today_statistic' %}" role="button">24 години</a>

</div>
</div>
</div>